* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
}
button {
    width: 250px;
    padding: 20px 0;
    margin-bottom: 10px;
    background-color: rgb(12, 43, 58);
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 9px;
}
button:hover {
    background-color: rgb(86, 18, 18);
}
button:active {
    transform: translate(1px, 1px)
}
.info {
    color: aliceblue;
}